<div *ngIf="hero && weapons">

	<h2><b>Héro :</b> {{hero.name | uppercase}}</h2>

	<div class="container col-md-6 col-xs-12 justify-content-center">
		<div class="row mb-3 align-items-center">
			<div class="col-6">
				<div class="mb-3 row">
					<label class="col-sm-2 col-form-label" for="hero-id">Id :</label>
					<div class="col-sm-10">
						<input id="hero-id" class="form-control-plaintext" type="text" value="{{hero.id}}" aria-label="HeroInterface id" readonly>
					</div>
				</div>

				<div class="mb-4 row">
					<label class="col-sm-2 col-form-label" for="hero-name">Nom</label>
					<div class="col-sm-10">
						<input id="hero-name" class="form-control" type="text" name="name" [(ngModel)]="hero.name">
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="hero-image">
					<image-select [choices]="images" [elem]="hero"></image-select>
				</div>
			</div>
		</div>

		<div class="mb-3">
			<h3>Caractéristiques</h3>
			<app-skills [skills]="skills" [minValue]="1" [maxValue]="37" [mustBeEqualTo]="40" [weapon]="getHeroWeapon()"></app-skills>
		</div>

		<div class="mb-3">
			<h3>Arme</h3>
			<select class="form-select mb-3" aria-label="Weapons select" (change)="onWeaponChange($event)">
				<option *ngIf="!hero.weaponId" selected>Choisir une arme ...</option>
				<option *ngFor="let weapon of weapons" [value]="weapon.id" [selected]="hero.weaponId === weapon.id">{{weapon.name}}</option>
			</select>

			<button *ngIf="hero.weaponId" class="btn btn-outline-danger" (click)="removeWeapon()">Retirer l'arme</button>
		</div>

		<div class="row justify-content-center" role="group" aria-label="Basic example">
			<button type="button" class="col-lg-3 col-md-4 col-sm-12 m-1 btn btn-danger" (click)="goBack()">Retour</button>
			<button type="button" class="col-lg-3 col-md-4 col-sm-12 m-1 btn btn-success" (click)="save()">Sauvegarder</button>
		</div>
	</div>

</div>
