th[sortable] {

	cursor: pointer;

	&.desc::after {
		content: '\F148';
		font-family: 'bootstrap-icons';
	}
	&.asc::after {
		content: '\F128';
		font-family: 'bootstrap-icons';
	}
}

.filter {
	margin: 10px 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	& > * {
		margin: 5px;
	}

	input {
		width: auto;
	}
}
